<script setup lang="ts"></script>

<template>
  <h1 style="text-align: center">PORTFOLIO</h1>
  <v-container>
    <v-row>
      <v-col>
        <h3 style="text-align: center">ประวัติส่วนตัว</h3>
        <br />
        <v-card class="mx-auto" max-width="434" rounded="0">
          <v-img
            height="100%"
            cover
            src="https://cdn.discordapp.com/attachments/975453031757918228/1053927004824682526/cover2.jpg"
          >
            <v-avatar color="grey" size="150" rounded="0">
              <v-img
                cover
                src="https://cdn.discordapp.com/attachments/1030943537476407471/1053925829849141298/pimlada.jpg"
              ></v-img>
            </v-avatar>
            <v-list-item
              class="text-white"
              title="นางสาวพิมพ์ลดา โสนาพูน"
              subtitle="Pimlada Sonapoon"
            ></v-list-item>
          </v-img>
        </v-card>

        <br />
        <br />
        <h3 style="text-align: center">ประวัติการศึกษา</h3>
        <br />
        <v-row class="justify-center">
          <v-col cols="12">
            <v-table>
              <thead>
                <tr>
                  <th>ระดับชั้น</th>
                  <th>สถานการศึกษา</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>ประถมศึกษาปีที่ 1 - 6</td>
                  <td>โรงเรียนอพป.คลองน้ำใส</td>
                </tr>
                <tr>
                  <td>มัธยมศึกษาปีที่ 1 - 6</td>
                  <td>โรงเรียนอรัญประเทศ</td>
                </tr>
                <tr>
                  <td>ปริญญาตรี</td>
                  <td>กำลังศึกษา ณ มหาวิทยาลัยบูรพา</td>
                </tr>
              </tbody>
            </v-table>
          </v-col>
        </v-row>
      </v-col>

      <v-col>
        <h3 style="text-align: center">สิ่งที่สนใจ / งานอดิเรก</h3>
        <br />
        <v-card class="mx-auto" max-width="344">
          <v-img
            src="https://cdn.discordapp.com/attachments/975453031757918228/1053942190650425344/webtoon.PNG"
            height="200px"
            cover
          ></v-img>

          <v-card-title style="font-size: medium; text-align: center"
            >อ่าน webtoon</v-card-title
          >
          <v-card-subtitle style="font-size: small"
            >เรื่องแนะนำ : ยุคแห่งยอดมนุษย์, Eleceed, Jungle
            Juice</v-card-subtitle
          >
        </v-card>

        <br />
        <v-card class="mx-auto" max-width="344">
          <v-img
            src="https://cdn.discordapp.com/attachments/975453031757918228/1053943744975601774/song.PNG"
            height="200px"
            cover
          ></v-img>

          <v-card-title style="font-size: medium; text-align: center"
            >ฟังเพลง</v-card-title
          >
          <v-card-subtitle style="font-size: small"
            >เพลงแนะนำ : Love Affair - UMI, วนิลลาสกาย - unmute</v-card-subtitle
          >
        </v-card>
      </v-col>
    </v-row>
  </v-container>
</template>
